.cart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr .7fr 0.7fr 0.5fr;
  padding: 2rem;
  gap: 1.5rem;
  row-gap: 3rem;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
  width: 100%;
  height: 100%;
}

.delete-btn img {
  width: 40px;
  height: 40px;
}

.cart-flex {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
}

.delete-btn button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.cart-grid .product-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3em
}

.cart-grid .product-quantity button {
  border: none;
  outline: none;
  background: whitesmoke;
  transition: .6s;
}

.cart-grid .product-quantity button:hover {
  background: aliceblue;
}

.cart-grid .product-quantity h4 {
  margin: 0;
}