.product-card img {
  width: 100%;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.product-info h3,
.product-info h5,
.product-info h4 {
  margin: 0 !important;
  padding: 0 !important;
  text-transform: capitalize;
}

.product-info h5 {
  color: #ad7d52;
}

.product-info h4 {
  font-weight: 400;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.product-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.splide__arrow {
  width: 1em !important;
}

.splide {
  padding: 0 !important;
}

.splide:hover .splide__arrows{
  display: block;
}


.splide__arrows {
    display: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.product-info button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .7s;
}


.product-info button:hover{
 transform: scale(1.1);
}

.product-info img {
  width: 30px;
}

.product-card a {
  color: black;
  text-decoration: none !important;
}